@import url("/css/style.css");
@import url("/css/variables.css");

body {
    margin: 0%;
    background-color: var(--primary-color);
}

.get-involved-welcome {
    background-image: url(/images/get-involved.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center center;
}

.get-involved-welcome h1 {
    position: absolute;
    top: 35%;
    left: 43%;
    margin: auto;
    color: #fff;
    font-size: 2em;
}

.get-involved-welcome p {
    font-weight: 300;
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.get-involved-info {
    background-color: #fff;
    max-width: 70%;
    margin: 5em auto;
    padding: 2em;
    border-radius: 0.5em;
}

.get-involved-info h3 {
    font-size: 1.5em;
}

.get-involved-info div {
    line-height: 2;
}

@media (max-width: 1000px) {

    .get-involved-welcome {
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: top;
        height: 55vh;
    }

    .get-involved-welcome h1 {
        
    }

    .get-involved-welcome p {
        text-align: left;
        margin-top:40%;
        width: 80%;
        font-size: 1.4em;
    }
}

@media (max-width: 470px) {
    
    .get-involved-welcome h1 {
        position: absolute;
        top: 35%;
        left:27%;
    }
}

@media (min-width: 550px) and (max-width: 999px) {

    .get-involved-welcome {
        height: 60vh;
    }
}