@import url("/css/style.css");
@import url("/css/variables.css");

body {
    background-color: #BB6637;
    margin: 0px;
}

.events-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0em 7em 5em 7em;
}

.events-section {
    background-color: #fff;
    max-width: 550px;
    border-radius: 0.3em;
    padding: 1em;
    margin: 1em; 
}

.headline {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0em 9em;
}

.welcome-events {
    background-image: url(../images/dinosaur-special-events.jpg);
    width: 100%;
    height: auto;
    background-size: cover; 
    background-position: center center;
    height: 75vh; 
}

.welcome-events h1 {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.3em;
    color: #fff;
}

@media (max-width: 800px) {


    .welcome-events {
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: top;
        max-height: 30vh;
        
    }


    .welcome-events h1 {
        font-size: 2em;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .headline h2 { 
        font-size: 1.2em;
        margin-bottom: 0;
    }

    .headline {
        color: #FFF1DE;
        margin: 0.5em;
        font-size: 2em;
        padding: 0.5em
    }

    .events-wrapper {
        display: flex;
        flex-direction: column;
        margin: 1em auto;
    }

    .events-section {
        margin: 1em auto;
        border-radius: 0.5em;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;  
        line-height: 1.5em;
    }

    .events-section h3 {
        font-size: 1.5em;
        text-align: center;
    }
}

@media (max-width: 1200px) {
    
    .contact-welcome {
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 30vh;
    }
}

@media (max-width: 599px) {

    .welcome-events h1 {
        font-size: 1.8em;
    }
}

