body {
    font-family: "IBM Plex Sans Condensed", sans-serif;
}

h1, h2, h3 {
    font-family: "Tektur", sans-serif;
    text-decoration: underline;
}

nav {
    background-color: #BFD0E0;
}

nav li {
    display: inline-block;
}

a  {
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: "Tektur", sans-serif;
    font-weight: 600;
    
}

header {
    background-color: var(--secondary-color);
}

footer li {
    display: block;
}