body {
    font-family: "IBM Plex Sans Condensed", sans-serif;
}

h1, h2, h3 {
    font-family: "Tektur", sans-serif;
    text-decoration: underline;
}

img {
    width: 100%;
}

.logo {
    max-width: 3em;
    height: auto;
}

nav {
    background-color: #BFD0E0;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: right; 
}

nav li {
    display: inline-block; 
}

nav a {
    margin: 0.7em;
    font-size: 1.2em;
}

a  {
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: "Tektur", sans-serif;
    font-weight: 600;
}

header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0em 1.3em;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    padding: 1em;
}

footer li {
    display: block;
}

.hours {
    line-height: 0.5em;
}

.footer-list {
    line-height: 2em;
}
.current-page {
    text-decoration: underline;
    color: var(--primary-color);
}
