@import url("/css/style.css");
@import url("/css/variables.css");


body {
    background-color: #AA8D7C;
    margin: 0em;
}


.visit-info {
    background-color: #fff;
    max-width: 1000px;
    margin: 4em auto;
    border-radius: 0.4em;
    padding: 2.5em;
}

.visit-header {
    background-image: url(../images/visit-us.jpg);
    width: 100%;
    height: auto;
    background-size: cover; 
    background-position: center center;
    height: 75vh;
}

.visit-headline {
    max-width: 1050px;
    color: #fff;
    margin: 2em auto 0em auto;

}

  h1 {
    position: absolute;
    top: 48%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-size: 2.3em;
    color: #fff;
}

@media (max-width: 800px) {

    .visit-header {
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: top;
        height: 30vh;
    }

    .visit-header h1 {
        font-size: 2em;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .visit-headline {
        margin: 0.5em;
        font-size: 1.7em;
    }

    .visit-info {
        border-radius: 0%;
        margin-bottom: 1em;
    }

    .visit-info h3 {
        font-size: 1.7em;
    }

    .visit-info p {
        font-size: 1.5em;
    }
}